[submodule "src/guardian"]
	path = src/guardian
	url = https://github.com/cirocosta/guardian
	branch = armv7
[submodule "src/concourse"]
	path = src/concourse
	url = https://github.com/concourse/concourse
[submodule "src/registry-image-resource"]
	path = src/registry-image-resource
	url = https://github.com/concourse/registry-image-resource
	branch = platform
[submodule "src/github.com/opencontainers/runc"]
	path = src/github.com/opencontainers/runc
	url = https://github.com/opencontainers/runc
