[submodule "src/guardian"]
	path = src/guardian
	url = https://github.com/cirocosta/guardian
	branch = bump-idmapper
[submodule "src/concourse"]
	path = src/concourse
	url = https://github.com/concourse/concourse
[submodule "src/github.com/opencontainers/runc"]
	path = src/github.com/opencontainers/runc
	url = https://github.com/opencontainers/runc
